<!----------------------------------PARTE DO MENU ------------------------------------------->

<ion-menu contentId="main-content">
  <ion-header>

    <ion-buttons (click)="showPerfil()" slot="start">  <!-- O ICON E O LABEL SÃO UM UNICO BOTÃO-->
        <ion-button>
          <ion-icon name="person-circle-outline"></ion-icon>

          <ion-label>
               {{user?.primeiro_nome}} {{user?.segundo_nome}} <br> <!--Mostra o nome do usuario-->

            <small>{{user?.email}}</small><!--Mostra o nome do usuario-->
          </ion-label>
      
        </ion-button>
    </ion-buttons>
      
  </ion-header>

  <ion-content class="ion-padding"> <!-- ESSE ION PADDING VAI "CENTRALIZAR O CONTEUDO DO MENU"-->
    <ion-list> 
      <ion-item>
        <ion-button (click)="showRecursos()" >   <!--VAI PARA A PAGINA DOS RECURSOS-->
          <ion-icon slot="start" name="star"></ion-icon>
          Recursos Premium
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="showRenda()" >
          <ion-icon slot="start" name="wallet"></ion-icon>
          Transações
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="showPlanejamento()">
          <ion-icon  slot="start" name="cash"></ion-icon>
          planejamento
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>




<!-----------------------------------------------PARTE DOS CONTEUDOS ------------------------------->


<div class="ion-page" id="main-content">
  
  <ion-header>
    <ion-toolbar>
  
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-button (click)="anteriorMes()">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <ion-title class="ion-text-center"> <!-- MESES-->
        {{ mudancasMes }}
      </ion-title>
  
      <ion-buttons slot="end">
        <ion-button (click)="proximoMes()">
          <ion-icon name="arrow-forward-circle-outline"></ion-icon> <!-- FAZ IR PARA OS PROXIMOS MESES-->
        </ion-button>

        <ion-button (click)="openConfigMenu()" id="configuracoes"> <!--ABRE O MENU-->
          <ion-icon name="cog"></ion-icon> <!-- ICONE DO MENUS-->
        </ion-button>
      </ion-buttons>
  
    </ion-toolbar>


  </ion-header>

  <ion-content class="ion-padding"> 
     <!-- AQUI VAI FICAR O CONTEUDO DA PAG INICIAL-->


  </ion-content>

</div>





    <!-------------------------------------MENU CONFIGURAÇÕES------------------------->

    <ion-menu contentId="main-content" menuId="config-menu" side="end"> <!-- 'config-menu' é o ID do menu lateral -->
      <ion-header>
        <ion-toolbar>
          
          <ion-buttons slot="start">
            <ion-button (click)="fechaMenuConf()" > <!-- FAZ O MENU FECHAR -->
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon> <!--ICONE DO MENU-->
            </ion-button>
          </ion-buttons>

          <ion-title>Configurações</ion-title> 

        </ion-toolbar>
      </ion-header>
    
      <ion-content>  <!-- CONTEUDO DENTRO DO MENU-->
        <ion-list>
          <ion-item>
            <ion-button >
              <ion-icon slot="start" name="star"></ion-icon>
              Central de Ajuda
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-button >
              <ion-icon slot="start" name="wallet"></ion-icon>
              Politica de Privacidade
            </ion-button>
          </ion-item>

        </ion-list>
      
      </ion-content>
    </ion-menu>
    

  

