<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons  slot="start">
      <ion-back-button  defaultHref="/tela-principal"></ion-back-button> 
      <ion-title>Planejamento</ion-title>
      <ion-button (click)="anteriorMes()">
        <ion-icon  name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title  class="ion-text-center">
      {{ mudancasMes }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="proximoMes()">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let planejamento of planejamentos">
      <ion-label>
        <h2>Planejamento: {{ planejamento.categoria }}</h2>
        <p>R$ {{ planejamento.gastos }} de R$ {{ planejamento.meta_de_despesas }} | Data: {{ planejamento.mes }}/{{ planejamento.ano }} | Recorrente: {{ planejamento.recorrente }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary" fill="clear" (click)="editarPlanejamento(planejamento.ID)">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
        <ion-button color="danger" fill="clear" (click)="excluirPlanejamento(planejamento.ID)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irParaSalvarPlanejamento()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
