.cariani{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30%;
    padding-top: 20%;
}

.juliao{
    background-color: #012840;
    color: white;
    height: 33%;
    justify-self: baseline;
    margin-top: 60%;
    padding-left: 5%;
    padding-top: 5%;
}

ion-lable{
    color: rgb(35, 254, 126);
    justify-content: center;
    align-items: center;
    display: flex;
}

.honey{
    box-shadow: none;
    --box-shadow: none; /* Para lidar com variações de estilo específicas do Ionic /
    border: none;
    --background: transparent; / Se quiser remover o fundo /
    --background-activated: transparent; / Remove o fundo ao clicar /
    --background-focused: transparent; / Remove o fundo ao focar */
}