<ion-header>
  <ion-toolbar color=secondary>
    <ion-title color="light">Ajuda</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tela-principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card color="secondary" style="padding: 3vw; padding-bottom: 4vh;">
    <ion-card-header>
      <ion-card-title style="color: white;">Entre em Contato</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p style="color: white;">Precisa de ajuda? Entre em contato conosco:</p>

      <!--Telefone -->
      <ion-item color="secondary">
        <ion-icon color="light" name="call-outline" slot="start"></ion-icon>
        <ion-label>
          <h2 style="color: white;">Telefone</h2>
          <p style="color: white;">+55 (13) 2202-2525</p>
        </ion-label>

      </ion-item>

      <!-- Email -->
      <ion-item color="secondary">
        <ion-icon color="light" name="mail-outline" slot="start"></ion-icon>
        <ion-label>
          <h2 style="color: white;">E-mail</h2>
          <p style="color: white;">contato&#64;institutonjr.org.br</p>
        </ion-label>
  
      </ion-item>

      
      
    </ion-card-content>
  </ion-card>
</ion-content>


