// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #20638c;
    /* Cor primária */
    --ion-color-secondary: #202C33;
    /* Cor secundária */
    --ion-color-tertiary: #7044ff;
    /* Cor terciária */
    --ion-color-success: #10dc60;
    /* Cor de sucesso */
    --ion-color-warning: #ffce00;
    /* Cor de aviso */
    --ion-color-danger: #f04141;
    /* Cor de erro */
    --ion-color-light: #ffffff;
    /* Cor clara */
    --ion-color-dark: #9facc6;
    /* Cor escura */
}