p {
    text-align: justify;
    margin-bottom: 10px;
    color: white;
  }
  
  ion-card-title {
    text-align: center;
    font-weight: bold;
    color: #2c3e50;
  }
  
  ion-card {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }