<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tela-principal"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Sobre Nós</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="primary">
  
  <ion-card color="secondary">
    
    <ion-card-header color="secondary">
      <ion-card-title style="color: white;">Tou$sin</ion-card-title>
    </ion-card-header>
    <ion-img  src="../../assets/image 50.png" class="premium-img" style="width: 30vw; display: flex; justify-self: center;" ></ion-img>
    <ion-card-content style="background-color: rgba(1, 40, 64, 1);">
    
      <br>
      

      <p>
        O <strong>Tou$sin</strong> é um aplicativo de gestão financeira criado para ajudar as pessoas a organizarem suas finanças de forma simples e eficiente.
        Nosso objetivo é oferecer uma ferramenta intuitiva que permite acompanhar ganhos, controlar despesas e planejar um futuro financeiro mais equilibrado.
        Com o Tou$sin, gerenciar o dinheiro se torna mais fácil e acessível para todos.
      </p>
      <br>
      <p>
        Este projeto é parte do <strong>PROJETEC</strong>, desenvolvido por <strong>Bernardo Henrique, Henrique Iven, Maria Laura, Mariana Luísa, Marco Túlio, Pedro Henrique e Tomas Amancio</strong>.
        Juntos, combinamos aprendizado, inovação e dedicação para criar uma solução que realmente impacta a vida das pessoas, ajudando a superar os desafios de organização financeira no dia a dia.
      </p>
      <br>
      <p>
        Acreditamos que a educação financeira é a chave para um futuro mais tranquilo e, com o Tou$sin, queremos fazer parte dessa jornada ao seu lado.
      </p>
      <br>
      <p>
        Obrigado por confiar em nossa iniciativa e acreditar no poder da mudança! Vamos juntos transformar a sua relação com o dinheiro.
      </p>
      
    </ion-card-content>
  </ion-card>
</ion-content>
