<ion-content>
  <!-- Formulário de registro com vinculação ao método 'enviando' no componente -->
  <form #f="ngForm" (ngSubmit)="enviando(f)"> 
    <!-- 'ngForm' é referenciado por #f para obter os dados do formulário -->
    <ion-back-button defaultHref="/home"></ion-back-button>
    
    <h1>Registre-se</h1>

    <p>Digite seu nome:</p>
    <ion-input name="primeiro_nome" type="text" placeholder="   Nome" ngModel></ion-input>
    <!-- 'name' define o nome do campo e 'ngModel' é usado para vincular o valor ao formulário -->
    <p>Digite seu sobrenome:</p>
    <ion-input name="segundo_nome" type="text" placeholder="   Sobrenome" ngModel></ion-input>
    
    <p>Digite seu e-mail:</p>
    <ion-input name="email" type="email" placeholder="   E-mail" ngModel></ion-input>
    
    <p>Digite sua senha:</p>
    <ion-input name="senha" type="password" placeholder="   Senha" ngModel></ion-input>

    <!-- Botão para enviar o formulário -->
    <ion-button color="shade" expand="block" type="submit">Registrar</ion-button>
  </form>

  <!-- Link para redirecionar o usuário para a página de login caso já tenha uma conta -->
  <p>Já tem uma conta? Faça login <a (click)="showLogin()">Aqui</a></p>
  <!-- (click)="showLogin()" chama o método showLogin do componente para navegação -->
</ion-content>
